body{
    min-width: 1200px;
    position: relative;
}
.banner{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: url(../img/center/banner2.png) center center no-repeat;
}
.banner img{
    width: 100%;
    display: block;
}
.banner .mengban{
    height: 450px;
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    overflow: hidden;
}
.nav-top{
    background: transparent;
}
.mengban img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin-top: 177px;
}
.mengban p:nth-child(2){
    margin-top: 31px;
}
.mengban p{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    margin-bottom: 11px;
}
.mengban p span{
    padding-right: 20px;
}
.mengban p .jinbi::after{
    display: inline-block;
    content: url(../img/center/jinbi.png);
    position: absolute;
    margin-left: 2px;
    top: 2px;
}

/* 表格通用css */
.fanye{
    width: 893px !important;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 0px;
    margin-top: -10px;
    font-size: 12px;
    border-top: none;
}
.main table{
    width: 893px;
}
.main .tablebox{
    margin-left: 65px;
    position: relative;
}
.tablebox>div{
    display:block;
    width: 420px;
}
.main .layui-laypage a,.main .layui-laypage span{
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}
.main .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #ffe405;
    
}
.main .layui-laypage .layui-laypage-curr em{
    color: #333333;
}
.main table th,.main table td{
    text-align: center !important;
    font-size: 12px;
    color: #333333;
    height: 40px;
}
.main table th{
    background-color: #f4f5f9;
}
.condition{
    margin-left: 65px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 29px;
    font-size: 12px;
}
.condition .biaoti{
    display: inline-block;

}
.condition .layui-input{
    width: 110px;
    height: 30px;
    display: inline-block;
}
.condition .tiao-btn{
    display: inline-block;
    vertical-align: top;
}
.condition .heng{
    padding: 0px 10px;
}
.condition .cha{
    width: 98px;
	height: 30px;
	background-color: #ffe405;
    border-radius: 4px;
    border: none;
    margin-left: 20px;
}
.condition .tiao-btn::after{
    display: block;
    content: '';
    clear: both;
}
.condition .tiao-btn li{
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 18px;
    border: solid 1px #e5e5e5;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.condition .rili{
    position: relative;
    display: inline-block;
    height: 30px;
}
.condition .rili::after{
    display: block;
    content: '';
    position: absolute;
    right: 10px;
    background: url(../img/center/rili.png) center center no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 14px;
    top: 8px;
}
.condition .layui-form-select{
    display: inline-block;
}
.condition .layui-unselect{
    width: 80px;
}
.condition .layui-form-select .layui-edge{
    border-top-color:#ffe405;
}
.condition .layui-form-select dl dd.layui-this{
    background: #ffe405;
    color: #333333;
}
.condition .layui-form-select dl{
    padding: 0px;
    border: #ffe405 1px solid;
}
.condition .layui-form-select dl dd, .layui-form-select dl dt{
    height: 30px;
    line-height: 30px;
}
/* 条件1 */
.condition.time0 .tiao-btn{
    vertical-align: middle;
}
.condition.time0 .tiao-btn li{
   width: 86px;
    text-align: center;
}
.condition.time0 .tiao-btn li:nth-child(1){
    margin-left: 0px;
}
.condition.time0 .li-active{
    background: #ffe405;
}
/* 主体部分CSS */
.main{
    width: 1200px;
    margin-top: 40px;
}
.main .title{
    position: absolute;
    width: 180px;
	height: 48px;
    background-color: #ffe405;
    color: #1f1f1f;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
}
.main .nav-right,.main .mainbox{
    float: left;
}
.main .nav-right{
    width: 180px;
	height: 300px;
    background-color: #1f1f1f;
    margin-top: 48px;
    padding-top: 5px;
}
.main .nav-right li{
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0px;
    color: #ffffff;
}
.main .nav-right .layui-this{
    color: #ead109;
}
.main .nav-right .layui-this::after{
    content: ' >';
    display: inline-block !important;
    position: absolute;
    margin-left: 17px;
    width: auto;
    border: none;
    top: auto;
    left: auto;
}
.mainbox{
    padding: 20px;
    width: 1000px;
    height: 711px;
    border: solid 1px #e5e5e5;
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
}
.mainbox .ziliao{
    border-bottom: #e6e6e6 solid 2px;
    height: 34px;
    line-height: 34px;
}
.mainbox .ziliao span{
    display: inline-block;
    height: 100%;
    position: relative;
    margin-right: 10px;
}
.mainbox .ziliao span::after{
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    content: '';
    height: 2px;
    background: #ffe405;
    z-index: 2;
}
.mainbox .ziliao span.tabhide::after{
    display: none;
}
.form-ziliao .form-control{
    height: 30px;
    width: 220px;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.form-ziliao textarea.form-control{
    height: auto;
}
.form-ziliao .year{
    width: 80px;
}
.form-ziliao .month,.form-ziliao .day{
    width: 65px;
}

.form-ziliao label{
    font-weight: normal;
}
.form-horizontal.form-ziliao .control-label{
    padding-top: 4px;
}
.form-ziliao .form-group:nth-child(1){
    margin-top: 20px;
}
.form-ziliao .form-group:nth-child(1) img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.form-ziliao{
    margin-left: -45px;
}
.form-ziliao .checkbox{
    padding: 0px; 
    height: 30px;
    margin-top: -2px;
}
.form-ziliao .form-control.dizhi{
    width: 300px;
}
.form-ziliao .control-label{
    padding-right: 0px;
}
.form-ziliao #submit{
    width: 160px;
	height: 36px;
	background-color: #ffe405;
    border-radius: 8px;
}

/* 反转 */
.qcontainer {
    perspective: 500;
	-webkit-perspective: 500;
	-moz-perspective: 500;
	float: left;
	width: 80px;
	margin-right:20px;
}
.film {
    width: 100%;
    height: 80px;
    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: 1s;
    -moz-transition: 1s; /* Firefox 4 */
    -webkit-transition: 1s; /* Safari 和 Chrome */
    -o-transition: 1s; /* Opera */	
}
.qcontainer:hover .film {
    transform: rotateY(180deg);
	transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
}
.face {
	position: absolute;
	backface-visibility:hidden;
    -webkit-backface-visibility:hidden;	
    -moz-backface-visibility:hidden; 	
    -ms-backface-visibility:hidden; 		
}
.face h3 {
	color: white;
	text-align: center;
}
.back {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
	width:80px;
    height:80px;
    position: relative;
}
.backtext{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0 , 0, 0, 0.8);
    border-radius: 50%;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 13px;
}
#touxiang{
    visibility: hidden;
}

/* 安全中心 CSS*/
.safebox .safecenter::after{
    content: '';
    display: block;
    clear: both;
}
.safebox .safecenter{
    font-size: 14px;
    color: #333333;
}
.safebox .safecenter li{
    height: 46px;
    line-height: 46px;
    position: relative;
}
.safebox .safecenter li:nth-child(1){
    margin-top: 12px;
}
.safebox .safecenter li span:nth-child(3){
    font-size: 12px;
    color: #169bd5;
    display: inline-block;
    width: 61px;
    position: absolute;
    right: 205px;
    cursor: pointer; 
}

.safebox .safecenter li span:nth-child(1)::before{
    content: '';
    background: url(../img/center/key.png) center center no-repeat;
    background-size: 13px 15px;
    height: 46px;
    width: 13px;
    display: inline-block;
    line-height: 46px;
    position: absolute;
    left: 65px;
}
.light::before{
    content: '';
    background: url(../img/center/key2.png) center center no-repeat !important;
    background-size: 13px 15px;
    height: 46px;
    width: 13px;
    display: inline-block;
    line-height: 46px;
    position: absolute;
    left: 65px;
}
.safebox .safecenter li span:nth-child(1){
    margin-left: 178px;
    display: inline-block;
    width: 72px;
}
.safebox .safecenter li span:nth-child(2){
    margin-left: 50px;
}
.bangphone,.bangbank,.banginformation,.bangpsw,
.bangmibao,.bangtipsw,.bangmail{
    display: none;
}
.tan-class{
    border-radius: 12px !important;
    width: 300px;
}
.tan-class .layui-layer-content{
    padding: 20px 20px;
}
.tan-class .layui-layer-title{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffe405;
    height: 40px;
    color: #333333;
}
.gong .zhusi{
    font-size: 12px;
    color: #666666;
    line-height: 200%;
}
.gong .zhusi span{
    color: red;
}
.gong label,.gong .form-group div{
    font-weight: normal;
    font-size: 13px;
    padding: 0px;
}
.gong .form-horizontal .form-group .form-control,
.gong .form-horizontal .form-group{
    margin: 0px;
    height: 30px;
}
.gong .form-horizontal .form-group{
    margin: 30px 0px;
}
.bangphone .form-horizontal .form-group{
    margin: 20px 0px;
}
.gong #yanzphone,.gong #yanzwei,.gong #yanzzfb,.gong #yanzbank,.gong #yanzmail,.gong #yanzmibao{
    width: 100px;
}
.gong .getma{
    background-color: #ffffff;
	border-radius: 4px;
    border: solid 1px #e5e5e5;
    font-size: 13px;
}
.gong .bang-btn{
    font-size: 14px;
    background-color: #ffe405;
    border-radius: 4px;
    margin-left: 15px;
}
.gong #pswma,.gong #pswtima{
    width: 100px;
}
.bangpsw .form-horizontal .form-group,.bangtipsw .form-horizontal .form-group{
    margin: 20px 0px;
}
.bangmibao select{
    font-size: 13px;
}
.gong .col-xs-4{
    white-space:nowrap;
}
.gong #pswtima{
    width: 79px;
}





/* 页脚 */
.main .layui-tab::after{
    display: block;
    content: '';
    clear: both;
}
/* 上传 */
.shangchuan input{
    display: none;
}
#shangchuan .zhizhao,#shangchuan .shangchuan{
    display: inline-block;
    padding: 0px 10px;
}
.shangchuan{
    margin-top: 1px;
    margin-bottom: 0px;
    height: 31px !important;
}
.shangchuan div{
    height: 32px;
}
.min{
    color: #333 !important;
}
.showimg{
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    
}
#showimg1,#showimg2,#showimg3{
    display: none;
}
.tan-class img{
    width: 100%;
    border-radius: 4px;
}
.form-ziliao input{
    color: #333333;
}
#shangchuan .wenan ul{
    white-space:nowrap;
    height: 100%;
}
#shangchuan .wenan ul li{
    display: inline-block;
}
/* 弹框CSS */
.bangbank .layui-tab-content{
    padding: 10px 0px;
}
.bangbank .layui-tab{
    margin: 0px !important;
}
.layui-layer-content input{
    font-size: 13px;
    color: #333333;
}

.shezhi{
    font-size: 12px;
    color: #169bd5 !important;
    cursor: pointer;
    margin-left: 10px;
}