body{
    min-width: 1333px;
}
.banner{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: url(../img/task/banner.png) center center no-repeat;
}
.midbox{
    width: 1200px;
    text-align: center;
}
.dztext{
    display:block;
    width: 90px;
    font-size: 22px;
    color: #000000;
    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
}
.dztext::before{
    display: block;
    content: '';
    width: 160px;
    height: 6px;
    background: url(../img/dingzhi/left.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -180px;
    top: 14px;
}
.dztext::after{
    display: block;
    content: '';
    width: 160px;
    height: 6px;
    background: url(../img/dingzhi/right.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -180px;
    top: 14px;
}
.text{
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-bottom: 30px;
}
.ding-nav li{
    float: left;
}
.ding-nav{
    display: inline-block;
    padding-bottom: 40px;
}
.ding-nav::after{
    display: block;
    content: '';
    clear: both;
}
.ding-nav .bg{
    height: 94px;
    width: 94px;
    border: solid 1px #ffe405;
    border-radius: 50%;
    margin: 10px 50px;
}
.ding-nav .bg1,.ding-nav .bg2,.ding-nav .bg3,.ding-nav .bg4{
    height: 94px;
    width: 94px;
}
.ding-nav .bg1{
    background: url(../img/dingzhi/sp.png) center center no-repeat;
}
.ding-nav .bg2{
    background: url(../img/dingzhi/wa.png) center center no-repeat;
}
.ding-nav .bg3{
    background: url(../img/dingzhi/yuan.png) center center no-repeat;
}
.ding-nav .bg4{
    background: url(../img/dingzhi/ms.png) center center no-repeat;
}

.ding-nav .bg:hover{
    background-color: #000000;
    border: none;
}
.ding-nav .bg1:hover{
    background: url(../img/dingzhi/sp2.png) center center no-repeat;
}
.ding-nav .bg2:hover{
    background: url(../img/dingzhi/wa2.png) center center no-repeat;
}
.ding-nav .bg3:hover{
    background: url(../img/dingzhi/yuan2.png) center center no-repeat;
}
.ding-nav .bg4:hover{
    background: url(../img/dingzhi/ms2.png) center center no-repeat;
}

/* 轮播部分css */
.lunbobox{
    height: 610px;
    background-color: #f7f7f7;
    color: #000000;
    border-top: 1px solid transparent;
}
.tuijian{
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin: 20px 0px;
}
.textbox{
    text-align: center;
}
.commend{
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px;
    border: solid 2px #000000;
    position: relative;
}
.commend::before{
    display: block;
    content: '';
    width: 98px;
	height: 2px;
    background-color: #000000;
    position: absolute;
    top: 15px;
    left: -92px;
}
.commend::after{
    display: block;
    content: '';
    width: 98px;
	height: 2px;
    background-color: #000000;
    position: absolute;
    top: 15px;
    right: -92px;
}
.text2{
    margin: 20px;
    margin-bottom: 40px;
}

.lunbo{
    width: 1220px;
    position: relative;
}
.lunbo img{
    display: inline-block;
}
.lunbo .item{
    text-align: center;
    position: relative;
}
.lunbo .item::after{
    display: block;
    content: '';
    position: absolute;
    width: 285px;
	height: 400px;
	background-color: #000000;
    opacity: 0.64;
    top: 0px;
    left: 10px;
}
.lunbo .prev{
    top:180px;
    position: absolute;
    width: 45px;
	height: 45px;
    background-color: #000000;
    border-radius: 50%;
    left: -57px;
    color: #fff100;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
}
.lunbo .next{
    position: absolute;
    top:180px;
    color: #fff100;
    width: 45px;
	height: 45px;
    background-color: #000000;
    border-radius: 50%;
    right: -57px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
}
.lunbo .xingxiang{
    width: 100%;
    color: #fff100;
    font-size: 16px;
    position: absolute;
    top: 0px;
    z-index: 5;
    margin-top: 160px;
}
.lunbo .xingxiang::before{
    display: block;
    content: '';
    position: absolute;
    width: 245px;
	height: 360px;
    border: solid 2px #e5e5e5;
    top: -140px;
    left: 30px;
}
.lunbo .xingxiang::after{
    display: block;
    content: '';
    position: absolute;
    width: 44px;
	height: 2px;
	background: #e5e5e5;
    top: 60px;
    left: 130px;
}
.lunbo .yemian{
    width: 285px;
	height: 100px;
	background-color: #000000;
	opacity: 0.64;
    color: #fff100;
    font-size: 16px;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 10px;
    line-height: 100px;
}
.lunbo .yemian::before{
    display: block;
    content: '';
    position: absolute;
    width: 245px;
	height: 65px;
    border: solid 2px #e5e5e5;
    top: 20px;
    left: 20px;
}
.lunbo .yemian::after{
    display: block;
    content: '';
    position: absolute;
    width: 44px;
	height: 2px;
	background: #e5e5e5;
    top: 75px;
    left: 120px;
}
.lunbo .donghua{
    width: 285px;
	height: 100px;
	background-color: #000000;
	opacity: 0.64;
    color: #fff100;
    font-size: 16px;
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 10px;
    line-height: 100px;
}
.lunbo .donghua::before{
    display: block;
    content: '';
    position: absolute;
    width: 245px;
	height: 65px;
    border: solid 2px #e5e5e5;
    top: 20px;
    left: 20px;
}
.lunbo .donghua::after{
    display: block;
    content: '';
    position: absolute;
    width: 44px;
	height: 2px;
	background: #e5e5e5;
    top: 75px;
    left: 120px;
}
.lunbo .manhua{
    width: 285px;
	height: 100px;
	background-color: #000000;
	opacity: 0.64;
    color: #fff100;
    font-size: 16px;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 10px;
    line-height: 100px;
}
.lunbo .manhua::before{
    display: block;
    content: '';
    position: absolute;
    width: 245px;
	height: 65px;
    border: solid 2px #e5e5e5;
    top: 20px;
    left: 20px;
}
.lunbo .manhua::after{
    display: block;
    content: '';
    position: absolute;
    width: 44px;
	height: 2px;
	background: #e5e5e5;
    top: 75px;
    left: 120px;
}
/* 瀑布盒子 */
.pubu{
    width: 1200px;
}
.pubu .float-left{
    float: left;
}
.clearfloat::after{
    display: block;
    content: '';
    clear: both;
}
.pubu .item1,.pubu .item2,.pubu .item_c1,.item_d1,.item_g1{
    margin-right: 19px;
}
.item_a2,.item_d1,.item_d2,.item_f2,.item_e2,.item4{
    margin-top: 19px;
}
.biaozhu{
    text-align: right;
    color: #000;
    margin-top: 20px;
    margin-bottom: 60px;
}
.pubu .zhezhao{
    position: relative;
}
.pubu .zhezhao::after{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.74;
}
/* 瀑布特效 */
.hovereffect {
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
    
.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
    
.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.putextbox{
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0px;
}
.putextbox .biaoti{
    font-size: 24px;
    color: #ffffff;
}
.putextbox .itemtext{
    color: #ffffff;
    font-size: 14px;
}
.putextbox .biaoti_1{
    color: #fff100;
    text-align: center;
    margin-top: 124px;
    margin-bottom: 39px;
}
.putextbox .itemtext_1{
    margin: 20px 0px;
}
.putextbox .itemtext_2{
    margin-top: 13px;
    line-height: 35px;
}
.putextbox .biaoti_3{
    color: #fff100;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 23px;
}
.putextbox .itemtext_3{
    margin-top: 12px;
    line-height: 25px;
    text-align: left;
    padding-left: 23px;
}
.putextbox .biaoti_4{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 23px;
    line-height: 42px;
}
.putextbox .biaoti_5{
    margin-top: 32px;
}
.putextbox .itemtext_5{
    margin-top: 10px;
    line-height: 35px;
}
.putextbox .biaoti_5_2{
    margin-top: 210px;
}
.putextbox .itemtext_5_2{
    margin-top: 10px;
    line-height: 35px;
}
.putextbox .biaoti_6{
    color: #fff100;
}
.putextbox .biaoti_7{
    margin-top: 72px;
}
.putextbox .itemtext_7{
    margin-top: 8px;
}
.putextbox .itemtext_7 span:nth-child(1){
    margin-top: 10px;
    line-height: 35px;
    margin-right: 80px;
}
.putextbox .biaoti_8{
    color: #fff100;
    text-align: center;
    margin-top: 110px;
}
.putextbox .itemtext_8{
    margin-top: 4px;
    line-height: 32px;
}
.putextbox .itemtext_8 span{
    display: inline-block;
    width: 96px;
    text-align: right;
}
.putextbox .biaoti_9{
    color: #fff100;
    text-align: center;
    margin-top: 40px;
    color: #000;
}
.putextbox .itemtext_9{
    margin-top: 4px;
    line-height: 32px;
    color: #333333;
    line-height: 35px;
}
.zhezhao_9::after{
    background-color: #ffffff !important;
    opacity: 0.29 !important;
}
.putextbox .biaoti_10{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff100;
}
.putextbox .itemtext_10{
    height: 20px;
}
.putextbox .itemtext_10 .span1{
    margin-left: 200px;
}
.putextbox .itemtext_10 .span2{
    margin-left: 320px;
}
.putextbox .itemtext_10 .span3{
    margin-left: 0px;
}
.putextbox .itemtext_10 .span4{
    margin-left: 330px;
    margin-right: 190px;
}
.putextbox .biaoti_11{
    color: #fff100;
    margin-top: 42px;
    margin-bottom: 10px;
}
.putextbox .itemtext_11{
    line-height: 35px;
}
.zhezhao_5::after{
    background-color: #595959 !important;
	opacity: 0.46 !important;
}