.banner{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: url(../img/exchange/banner.png) center center no-repeat;
}
.midbox{
    width: 1200px;
}
.hot{
    height: 237px;
}
.hot li{
    float: left;
    margin-right: 20px;
    border: solid 1px #e5e5e5;
    width: 224px;
    text-align: center;
    position: relative;
}
.hot li:nth-child(5){
    margin-right: 0px;
}


.hot li img{
    display: inline-block;
    width: 100%;
}
.hot::after{
    display: block;
    content: '';
    clear: both;
}
.hot-text{
    font-size: 22px;
    color: #000000;
    font-family: MicrosoftYaHei-Bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hot-span{
    font-size: 20px;
    color: #000000;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}
.hot-span::after{
    display: block;
    content: '';
    height: 2px;
    background: #ffe405;
    position: absolute;
    bottom: -2px;
    z-index: 5;
    width: 100%;
}
.hot-p{
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 32px;
}
.hot .tishi{
    background: rgba(0, 0, 0, 0.8);
    height: 46px;
    position: absolute;
    bottom: 0px;
    z-index: 5;
    width: 100%;
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    text-align: left;
    padding-left: 20px;
}
.jinbi{
    position: relative;
    color: #e02423;
}
.jinbi::after{
    display: inline-block;
    content: url(../img/center/jinbi.png);
    position: absolute;
    margin-left: 2px;
    top: 2px;
}
.hover-menban{
    position: relative;
}
.hover-menban::before{
    content: '前往兑换';
    display: block;
    position: absolute;
}