*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
html{
    font-size: 16px;
}
a{
    text-decoration:none;
    color: #333;
}

body{
    font-family: '微软雅黑';
    position: relative;
}
ul{
    margin-bottom: 0px;
}
.tab{
    cursor: pointer;
}
.center{
    margin: 0 auto;
}
/* 按钮选择后样式 */
/* .li-active::after{
    display: block;
    width: 20px;
    height: 20px;
    content: '\2713';
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 20px;
    text-align: center;
} */
.li-active{
    background: #ffe405;
}
/* div遮罩样式 */
.mask-wrapper{
    position: relative;
    overflow: hidden;
  }

  .mask-inner {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.88);
    position: relative;
    -moz-transition: top ease 300ms;
    -o-transition: top ease 300ms;
    -webkit-transition: top ease 300ms;
    transition: top ease 300ms;
  }

  .mask-wrapper:hover .mask-inner {
    top:0;
  }
 
  .mask-inner::after{
    width: 8rem;
	height: 3rem;
    border: solid 1px #ffffff;
    font-size: 1rem;
    color: #ffffff;
    line-height: 3rem;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4rem;
    margin-top: -1.5rem;
    content: '查看详情';
}
/* 私人导航栏 */
.private-class{
    position: absolute;
    right: 40px !important;
    top: 72px !important;
    left: auto !important;
    border-radius: 12px !important;
}
.private-class,.private-class .layui-layer-content{
    background: transparent !important;
}
.private-menu{
    width: 280px;
    height: 430px;
    border-radius: 12px 12px 0px 0px;
    background: rgba(0, 0, 0, 0.43);
    font-size: 14px;
    border-radius: 12px;
    color: #ffffff;
}
.private-menu>div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.private-menu>div{
    display: flex;
    padding: 10px 0px;
    padding-left: 49px;
    background-color: #ffe405;
    border-radius: 12px 12px 0px 0px;
    color: #ffffff;
}
.private-menu>div>div{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.private-menu>div>div span{
    margin-top: 4px;
    margin-bottom: 4px;
}
.private-menu li{
    margin: 26px 53px;
    height: 20px;
    line-height: 20px;
    position: relative;
}
.private-menu li span::after{
    display: inline-block;
    content: url(../img/public/jinbi.png);
    position: absolute;
    margin-left: 2px;
    top: 2px;
}
.private-menu li:hover,.private-menu li a:hover,
.private-menu li a:focus{
    color: #d3bd0b;
    text-decoration: none;
}
.private-menu li:nth-child(1)::before{
    content: url(../img/public/p1.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(2)::before{
    content: url(../img/public/p2.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(3)::before{
    content: url(../img/public/p3.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(4)::before{
    content: url(../img/public/p4.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(5)::before{
    content: url(../img/public/p5.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(6)::before{
    content: url(../img/public/p6.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(7)::before{
    content: url(../img/public/p7.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.private-menu li:nth-child(1):hover::before{
    content: url(../img/public/p12.png);
}
.private-menu li:nth-child(2):hover::before{
    content: url(../img/public/p22.png);
}
.private-menu li:nth-child(3):hover::before{
    content: url(../img/public/p32.png);
}
.private-menu li:nth-child(4):hover::before{
    content: url(../img/public/p42.png);
}
.private-menu li:nth-child(5):hover::before{
    content: url(../img/public/p52.png);
}
.private-menu li:nth-child(6):hover::before{
    content: url(../img/public/p62.png);
}
.private-menu li:nth-child(7):hover::before{
    content: url(../img/public/p72.png);
}

.private-menu li a{
    color: #fff;
}
/* nav-top */
.hide{
    display: none;
}
.private-btn{
    width: 32px;
    height: 22px;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 50;
}
.nav-top{
    width: 100%;
    min-width: 1200px;
    position: absolute;
    background: rgba(0, 0, 0, 0.64);
    height: 79px;
    z-index: 2;
}
.nav-top .nav-box{
    width: 1200px;
}
.nav-top .nav-box img{
    float: left;
    margin-right: 100px;
}
.nav-top ul a{
    color: #ffffff;
}

.nav-top ul a:hover,.nav-top ul a:focus{
    text-decoration: none;
}
.nav-top ul{
    display: block;
    color: #ffffff;
}
.nav-top ul::after{
    display: block;
    content: '';
    clear: both;
}
.nav-top ul li{
    float: left;
    height: 89px;
    line-height: 79px;
    font-size: 16px;
    padding: 0px 10px;
    margin: 0px 10px;
}
.nav-top ul li:hover a,.nav-top ul li.active a,
.nav-top ul li:hover,.nav-top ul li.active{
    background-color: #ffe405;
    color: #000000;
    /* margin: 0px 10px; */
}
.nav-top ul li:hover::after,.nav-top ul .active::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #000000;
}

.login{
    position: absolute;
    right: 3.125%;
    top: 20px;
    z-index: 10;
    color: #000000;
    width: 7rem;
	height: 2.6rem;
    display: flex;
    align-items: center;
    border-radius: 1.3rem;
    background-color: #ffe405;
}
.login li{
    width: 50%;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 0px 10px;
    position: relative;
}
.login li:nth-child(1)::after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2px;
    background: #000000;
    height: 100%;
}
/* footer */
.footer{
    width: 100%;
    height: 15.6rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.footer ul:nth-child(1){
    display: inline-block;
    margin-top: 3.8rem;
    height: 1.1rem;
}
.footer ul:nth-child(1)::after{
    display: block;
    content: '';
    clear: both;
}
.footer ul:nth-child(1) li{
    float: left;
    font-size: 14px;
    letter-spacing: 0.2rem;
    padding: 0px 1rem;
    line-height: 1.1rem;
    height: 1.1rem;
    position: relative;
}
.footer ul:nth-child(1) li:nth-child(1)::after,
.footer ul:nth-child(1) li:nth-child(2)::after{
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0.1rem;
    background: #ffffff;
}
.footer p{
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2rem;
    height: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 1.8rem;
}
.footer img{
    width: 61.8rem;
	height: 3.1rem;
}

/* login */
#login-box{
	background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.25rem;
    width: 280px;
}
body .sign-class{ 
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
.sign-class{
    left: auto !important;
    right: 10.1rem !important;
    top: 7.4rem !important;
}
.sign-class .layui-layer-title{
    background-color: #ffe405 !important;
    border-radius: 0.5rem 0.5rem 0rem 0rem !important;
    font-size: 16px !important;
}
#login-box input{
    font-size: 12px;
    margin-bottom: 1.5rem;
}
#login-box #user{
    margin-top: 15px;
}
#login-box input[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .1em;
    width: .8em;
    height: .8em;
    margin-right: .2em;
    border-radius: .2em;
    background-color: silver;
    text-indent: .15em;
    line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}
#login-box input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: yellowgreen;
}
#login-box input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
#login-box .checkbox{
    font-size: 12px;
    margin: 30px 0px;
}
#login-box .checkbox label{
    font-size: 12px;
    padding-left: 0px;
    margin-right: 1rem;
}
#login-box .checkbox a{
    color: #169bd5;
}
#login-box #login-btn{
    width: 6.3rem;
    height: 1.8rem;
    background-color: #ffe405;
    border-radius: 0.3rem;
    line-height: 1.8rem;
    padding: 0;
    border: none;
    margin: 30px auto;
    font-size: 0.9rem;
}
#login-box p{
    font-size: 12px;
    line-height: 200%;
}
#login-box p:nth-child(5){
    color: #666666;
}
#login-box p:nth-child(5) a{
    color: #e93232;
}

#login-box p:nth-child(6){
    color: #666666;
}
#login-box p:nth-child(5)::before{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
}
#login-box .qq,#login-box .wei{
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.8rem;
}
#login-box .qq{
    background: url(../img/index/qq.png) center center no-repeat;
    background-size: 100% 100%;
}
#login-box .wei{
    background: url(../img/index/wei.png) center center no-repeat;
    background-size: 100% 100%;
    margin-left: 0rem;
}
.login .sign:hover,.reg:hover{
    color: white;
    cursor:pointer;
}

/* 侧边导航栏 */
.nav-wrapper{
    width: 3rem;
    position: fixed;
    right: 0px;
    z-index: 30;
    top: 50%;
    margin-top: -9rem;
}
.nav-wrapper .nav-item{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2px;
    position: relative;
}
.nav-wrapper .nav-item1{
    background:rgba(0, 0, 0, 0.64) url(../img/public/fuwu.png) center center no-repeat;
    background-size: 100% 100%;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.nav-wrapper .nav-item2{
    background:rgba(0, 0, 0, 0.64) url(../img/public/weixin.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item3{
    background:rgba(0, 0, 0, 0.64) url(../img/public/tieba.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item4{
    background:rgba(0, 0, 0, 0.64) url(../img/public/weibo.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item5{
    background:rgba(0, 0, 0, 0.64) url(../img/public/qiandao.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item6{
    background:rgba(0, 0, 0, 0.64) url(../img/public/choujiang.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item7{
    background:rgba(0, 0, 0, 0.64) url(../img/public/huodong.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav-wrapper .nav-item8{
    background:rgba(0, 0, 0, 0.64) url(../img/public/fankui.png) center center no-repeat;
    background-size: 100% 100%;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}
.nav-wrapper .nav-item1:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/fuwu2.png) center center no-repeat;
}
.nav-wrapper .nav-item2:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/weixin2.png) center center no-repeat;    
}
.nav-wrapper .nav-item3:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/tieba2.png) center center no-repeat;    
}
.nav-wrapper .nav-item4:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/weibo2.png) center center no-repeat;    
}
.nav-wrapper .nav-item5:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/qiandao2.png) center center no-repeat;    
}
.nav-wrapper .nav-item6:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/choujiang2.png) center center no-repeat;    
}
.nav-wrapper .nav-item7:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/huodong2.png) center center no-repeat;    
}
.nav-wrapper .nav-item8:hover{
    background:rgba(0, 0, 0, 0.64) url(../img/public/fankui2.png) center center no-repeat;    
}

.nav-wrapper .nav-item::after{
    width: 6.25rem;
    height: 2.125rem;
    background: url(../img/public/tips.png) center center no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    top:50%;
    line-height: 2.125rem;
    text-align: center;
    -moz-transition:visibility ease 1s, opacity ease 1s, left ease 1s;
    -o-transition:visibility ease 1s,opacity ease 1s, left ease 1s;
    -webkit-transition:visibility ease 1s,opacity ease 1s, left ease 1s;
    transition:visibility ease 1s,opacity ease 1s, left ease 1s;
    display: block;
    position: absolute;
    left: -12.3rem;
    margin-top: -1.0625rem;
    visibility: hidden;
}
.nav-wrapper .nav-item3::after{
    content: '百度贴吧';
}
.nav-wrapper .nav-item4::after{
    content: '新浪微博';
}
.nav-wrapper .nav-item5::after{
    content: '我要签到';
}
.nav-wrapper .nav-item6::after{
    content: '幸运转盘';
}
.nav-wrapper .nav-item7::after{
    content: '活动专区';
}
.nav-wrapper .nav-item8::after{
    content: '意见反馈';
}
.nav-wrapper .nav-item3:hover::after,.nav-wrapper .nav-item4:hover::after,.nav-wrapper .nav-item5:hover::after,
.nav-wrapper .nav-item6:hover::after,.nav-wrapper .nav-item7:hover::after,.nav-wrapper .nav-item8:hover::after{
    left: -6.3rem;
    opacity:1;
    visibility: visible;
    cursor: pointer;
}

/* 签到css */
#schedule-box .active{
    border: 2px solid yellow;
}
#schedule-box .qiandao{
    background:#ffe405;
}
#schedule-box{
    display: none;
}
.qiandao-class,.qiandao-class .layui-layer-content{
    background:transparent !important;
    width: 37rem !important;
}
.qiandao-class .layui-layer-content{
    padding: 10px;
}
.qiandao-class{
    color: #000000;
    box-shadow: none !important;
}
#schedule-box .cat{
    width: 9.4rem;
	height: 11.3rem;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -4.7rem;
    margin-top: -8rem;
}
#schedule-box .close-btn{
    width: 2.6rem;
	height: 2.6rem;
    position: absolute;
    top: 0px;
    left: 100%;
    /* margin-left: -8.7rem; */
    margin-top: -6rem;
}
#schedule-box{
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 3.1rem;
    border-radius: 3.1rem;
    width: 31.3rem !important;
    height: 42.7rem !important;
    margin-top: 8rem !important;
    box-shadow: 8px 0 10px -5px rgba(0, 0, 0, 0.4),
                0px 8px 10px -5px rgba(0, 0, 0, 0.4),
                -8px 0 10px -5px rgba(0, 0, 0, 0.4);
}
#schedule-box::before{
    content: '';
    display: block;
    width: 100%;
    height: 3.1rem;
    background: #ffe405;
    border-top-right-radius: 3.1rem;
    border-top-left-radius: 3.1rem;
    box-shadow: 8px 0 10px -5px rgba(0, 0, 0, 0.4),
                0px -8px 10px -5px rgba(0, 0, 0, 0.4),
                -8px 0 10px -5px rgba(0, 0, 0, 0.4);
}
.schedule-hd{
    display: flex;
    justify-content: space-between;
}
.today{
    flex: 1;
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    height: 3.1rem;
    line-height: 3.1rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 1.3rem;
}
.ul-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 0.4rem;
}
.week-ul{
    height: 2.875rem;
    width: 100%;
    font-size: 1rem;
    line-height: 2.875rem;
    border-bottom: 1px solid #e5e5e5;
}
.week-ul > li{
    letter-spacing: 0.3rem;
    text-align: center;
    width: 14.28%;
}
.schedule-bd > li{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 14.28%;
    border-bottom: 1px solid #e5e5e5;
    height: 2.25rem;
    line-height: 2.25rem;
}
.other-month{
    color: #999999;
}
.current-month{
    color: #333333;
}
.today-style{
    border-radius: 50%;
    background: #58d321;
}
.arrow{
    cursor: pointer;
}
.dayStyle{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.current-month > .dayStyle:hover{
    background: #00BDFF;
    color: #ffffff;
}
.today-flag{
    background: #00C2B1;
    color: #fff;
}

.selected-style {
    background: #00BDFF;
    color: #ffffff;
}

#schedule-box .btn-box{
    height: 5.7rem;
    display: flex;
    justify-content: center;
}
#schedule-box .btn-box button{
    width: 5rem;
	height: 1.9rem;
    background-color: #ffe405;
    border-radius: 0.3rem;
    padding: 0px;
    line-height: 1.9rem;
    border: none;
    font-size: 1.1rem;
    margin: 1.3rem;
}
#schedule-box .rule{
    margin: 0px 1.3rem;
    position: relative;
    margin-bottom: 1.3rem;
}
#schedule-box .rule span{
    font-size: 1.1rem;
    display: inline-block;
    padding-bottom: 0.6rem;
    position: relative;
}
#schedule-box .rule::after{
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    bottom: 0px;
    width: 100%;
}
#schedule-box .rule span::after{
    display: block;
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0px;
    z-index: 5;
    width: 100%;
    background-color: #ffe405;
}
#schedule-box .guize{
    margin: 0px 1.3rem;
    font-size: 1rem;
    line-height: 200%;
}
/* 按钮等待 */
@media (max-width: 1789px){

}

@media (max-width: 1570px){
    html{
        font-size: 15px;
    }
    /* 签到 */
    .qiandao-class,.qiandao-class .layui-layer-content{
        background:transparent !important;
        width: 34rem !important;
    }
    .qiandao-class{
        color: #000000;
    }
    #schedule-box .cat{
        width: 9.4rem;
        height: 11.3rem;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -4.7rem;
        margin-top: -8rem;
    }
    #schedule-box{
        position: relative;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 2.5rem;
        border-radius: 2.5rem;
        width: 27.2rem !important;
        height: 37.2rem !important;
    }
    #schedule-box::before{
        content: '';
        display: block;
        width: 100%;
        height: 2.5rem;
        background: #ffe405;
        border-top-right-radius: 2.5rem;
        border-top-left-radius: 2.5rem;
    }
    .schedule-hd{
        display: flex;
        justify-content: space-between;
    }
    .today{
        flex: 1;
        text-align: left;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-bottom: 1px solid #e5e5e5;
        padding: 0px 1rem;
    }
    .ul-box{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0px 0.4rem;
    }
    .week-ul{
        height: 2.3rem;
        width: 100%;
        font-size: 1rem;
        line-height: 2.3rem;
        border-bottom: 1px solid #e5e5e5;
    }
    .week-ul > li{
        letter-spacing: 0.2rem;
        text-align: center;
        width: 14.28%;
    }
    .schedule-bd > li{
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        text-align: center;
        width: 14.28%;
        border-bottom: 1px solid #e5e5e5;
        height: 2rem;
        line-height: 2rem;
    }
    .other-month{
        color: #999999;
    }
    .current-month{
        color: #333333;
    }
    .today-style{
        border-radius: 50%;
        background: #58d321;
    }
    .arrow{
        cursor: pointer;
    }
    .dayStyle{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-align: center;
        line-height: 2rem;
        cursor: pointer;
    }
    .current-month > .dayStyle:hover{
        background: #00BDFF;
        color: #ffffff;
    }
    .today-flag{
        background: #00C2B1;
        color: #fff;
    }
    
    .selected-style {
        background: #00BDFF;
        color: #ffffff;
    }
    
    #schedule-box .btn-box{
        height: 4rem;
        display: flex;
        justify-content: center;
    }
    #schedule-box .btn-box button{
        width: 4.2rem;
        height: 1.4rem;
        background-color: #ffe405;
        border-radius: 0.2rem;
        padding: 0px;
        line-height: 1.4rem;
        border: none;
        font-size: 0.9rem;
        margin: 1.1rem;
    }
    #schedule-box .rule{
        margin: 0px 1.3rem;
        position: relative;
        margin-bottom: 1.3rem;
    }
    #schedule-box .rule span{
        font-size: 1rem;
        display: inline-block;
        padding-bottom: 0.5rem;
        position: relative;
    }
    #schedule-box .rule::after{
        border-bottom: 1px solid #e5e5e5;
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        bottom: 0px;
        width: 100%;
    }
    #schedule-box .rule span::after{
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        bottom: 0px;
        z-index: 5;
        width: 100%;
        background-color: #ffe405;
    }
    #schedule-box .guize{
        margin: 0px 1.3rem;
        font-size: 0.9rem;
        line-height: 200%;
    }
} 

.private-class .close-btn{
    position: absolute;
    right: -18px;
    top: -18px;
    cursor: pointer;
}
.private-class .close-btn:hover{
    opacity: 0.7;
}
.private-class.layui-layer-page .layui-layer-content{
    overflow:visible !important;
}

.fankui-class .layui-layer-title{
    background-color: #ffe405;
    font-size: 18px;
}
.fankui-class .layui-layer-title b{
    font-weight: normal;
    color: #fb0000;
}
.fankui-class .fankui-box{
    width: 500px;
	height: 551px;
    background-color: #ffffff;
    padding: 20px;
}
.fankui-class .suggest{
    vertical-align: middle;
    margin-bottom: 22px;
}
.fankui-class p{
    margin-bottom: 20px;
}
.fankui-box .radio{
    margin-bottom: 20px;
    font-size: 12px;
    margin-left: 18px;
}
.fankui-box textarea{
    margin-bottom: 20px;
}
.fankui-btn{
    display: block;
    width: 120px;
	height: 36px;
	background-color: #ffe50a;
    border-radius: 4px;
    border: none;
    margin-top: 40px;
}