
body{
    min-width: 1200px;
    color: #000000;
}
.center{
    margin: 0 auto;
}
.head{
    height: 75px;
    width: 894px;
    margin-top: 89px;
    margin-bottom: 40px;
    position: relative;
}
.head span{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.main{
    width: 894px;
    margin-bottom: 30px;
}
.main::after{
    display: block;
    content: '';
    clear: both;
}
.main::before{
    display: block;
    height: 50px;
    background-color: #ffe405;
    content: '欢迎注册';
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin-bottom: 43px;
}
.itemleft{
    float: left;
    width: 56%;
}
.itemright{
    float: left;
    width: 44%;
}
.form-control{
    font-size: 12px;
}
.form-horizontal{
    border-right: dashed 1px #cccccc;
}
.form-horizontal .control-label{
    font-weight: normal;
    font-size: 14px;
}
.form-horizontal .form-group{
    margin-bottom: 19px;
}
.getma{
    float: right;
    font-size: 12px;
    height: 34px;
    background-color: #f4f4f4;
    border: solid 1px #e5e5e5;
}
.form-horizontal input{
    background-color: #f4f4f4;
}
.checkbox label{
    font-size: 12px;
}
.checkbox label a{
    color: #d36f16;
}
.reg{
    background-color: #ffe405;
    font-size: 14px;
}
.reg:hover{
    background-color: #ffe405;
}
.lian{
    font-size: 12px;
    color: #333333;
}
.lianxi{
    float: left;
}
.lian::after{
    display: block;
    content: '';
    clear: both;
}
.lian div:nth-child(2){
    float: right;
}
.lian div:nth-child(2) span{
    color: #d36f16;
}
.itemright .biaoti{
    font-size: 16px;
    width: 300px;
	height: 40px;
	background-color: #e5e5e5;
    border: solid 1px #cccccc;
    line-height: 40px;
    text-align: center;
}
.itemright ul{
    width: 300px;
    height: 290px;
    overflow: hidden;
    font-size: 12px;
    background-color: #f4f4f4;
	border: solid 1px #cccccc;
}
.itemright ul div{
    width: 300px;
    height: 60px;
    padding: 10px 0;
}
.itemright div img{
    border-radius: 50%;
    height: 100%;
    margin-left: 20px;
}
.itemright ul div span{
    line-height: 40px;
    text-align: center;
    margin-left: 15px;
}
.itemright ul div span:nth-child(3){
    color: #d36f16;
}
.sign-class{
    right: 50% !important;
    margin-right: -140px !important;
}