.banner{
    height: 89px;
}
.footer{
    margin-top: 60px;
}
.nav-top{
    background: #000000;
}
.main{
    width: 1200px;
}
.main>div{
    float: left;
}
.main::after{
    display: block;
    content: '';
    clear: both;
}
.main>.left{
    width: 900px;
    margin-right: 20px;
}
.main>.right{
    width: 280px;
}
.main>.left>.top{
    width: 100%;
    border: solid 1px #e5e5e5;
    padding: 20px;
    position: relative;
}
.left .top .lujin{
    padding-bottom: 10px;
    border-bottom: dashed 1px #ededed;
}
.lujin .dangqian{
    color: #666666;
}
.lujin .more{
    float: right;
    font-size: 12px;
    color: #666666;
    position: relative;
    margin-right: 15px;
}
.lujin .more::after{
    display: block;
    content: '';
    position: absolute;
    border: 6px solid;
    border-color: transparent transparent transparent #666666;
    top:3px;
    right: -20px;
}
.top .yulan{
    width: 294px;
	height: 221px;
	background-color: #333333;
}
.top .yulanbox{
    margin-top: 20px;
}
.yulanbox-right{
    float: right;
    width: 564px;
    padding-left: 20px;
}
.yulanbox-right p{
    font-size: 12px;
    margin-bottom: 10px;
}
.yulanbox-right p span:nth-child(1){
    color: #666666;
}
.yulanbox-right p:nth-child(1){
    font-size: 16px;
    color: #000000;
    margin-bottom: 40px;
}
.yulanbox-right .tishi{
    position: absolute;
    font-size: 12px;
    color: red;
    text-align: right;
    right: 20px;
    bottom: 0px;
}
.yulanbox-right .tishi a{
    color: red;
}
.jinbi{
    position: relative;
    margin-right: 20px !important;
}
.jinbi::after{
    display: inline-block;
    content: url(../img/center/jinbi.png);
    position: absolute;
    margin-left: 4px;
    top: 1px;
}
.yulanbox .submit{
    width: 150px;
	height: 40px;
	background-color: #ffe405;
    border-radius: 6px;
    border: none;
    position: absolute;
    right: 0px;
    bottom: 35px;
    right: 20px;
    font-size: 16px;
}
.state-1{
    background-color: rgb(190, 190, 190) !important;
}
button:disabled{
    cursor: not-allowed;
}
.state-2{
    background-color: rgb(190, 190, 190) !important;
}
.main .bot{
    border: solid 1px #e5e5e5;
    width: 900px;
    margin-top: 20px;
}
.explain,.matter{
    line-height: 35px;
    font-size: 12px;
    color: #666666;
    padding-left: 20px;
}
.matter{
    margin-bottom: 40px;
}
.explain-title,.matter-title{
    color: #000;
    font-size: 14px;
    padding: 12px 20px;
    display: inline-block;
    background-color: #ffe405;
    position: relative;
    margin-bottom: 20px;
}
.matter-title{
    margin-top: 10px;
}
.explain-title::after,.matter-title::after{
    display: block;
    content: '';
    border: 10px solid;
    border-color: #ffe405 transparent transparent transparent;
    position: absolute;
    bottom: -17px;
    left: 40px;
}
.lunbo-title{
    text-align: center;
    padding: 12px;
    color: #000000;
    background: #ffe405;
    font-size: 14px;
    position: relative;
}
.lunbo-title::before,.lunbo-title::after{
    display: block;
    position: absolute;
    content:'';
    border-bottom: #000000 dashed 1px;
    width: 50px;
}
.lunbo-title::before{
    left: 50px;
    top: 23px;
}
.lunbo-title::after{
    right: 50px;
    top: 23px;
}
.lunbo{
    position: relative;
    padding-top: 10px;
    padding-bottom: 68px;
}
.prev,.next{
    position: absolute;
    bottom: 0px;
    z-index: 5;
    padding: 5px 40px;
}
.prev{
    left: 36px;
    border: solid 1px #e5e5e5;
    border-right: none;
}
.next{
    right: 35px;
    border: solid 1px #e5e5e5;
}
.item{
    text-align: center;
    position: relative;
}
.item img{
    display: inline-block;
    margin: 10px 0px;
}
.textbox{
    position: absolute;
    bottom: 10px;
    display: inline-block;
    width: 210px;
	height: 40px;
	background: rgba(0, 0, 0, 0.76);
    z-index: 50;
    left: 35px;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
